<div class="bg-slate-900 border-4 border-slate-800 p-6 relative group hover:border-indigo-500 transition-colors">
  <%= turbo_stream_from [campaign, :members] %>
  <%= turbo_stream_from [campaign, :chat] %>

  <%= render "campaigns/card_header", campaign: campaign %>
  <%= render "campaigns/card_tags", campaign: campaign %>
  <%= render "campaigns/card_meta", campaign: campaign %>
  <div class="mt-6 pt-4 border-t border-slate-800 flex justify-between items-center">
    <div class="text-[9px] font-black uppercase text-slate-400">
      View details to request access
    </div>
    <%= link_to "View Campaign",
      campaign_path(campaign),
      class: "text-[8px] font-black uppercase text-indigo-400 hover:text-white" %>
  </div>
</div>
